<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" monitorInterval="30">    
    <appenders>        
        <console name="Console" target="SYSTEM_OUT">                                    
            <PatternLayout pattern="[%d{dd/MM/YYYY HH:mm:ss:SSS}][%p][%c] - %m%n"/>
        </console>                                                           
    </appenders>    
    <loggers>               
        <root level="info">
            <appender-ref ref="Console"/>           
        </root>
    </loggers>  
</configuration>
